.control-wrapper {
  width: 400px;
  height: 500px;
  background-color: #312a2a;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 50px;
}
h2 {
  color: white;
}
.list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: 600;
}
.human {
  font-size: 40px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.btn-wrapper span {
  cursor: pointer;
  color: white;
}
.btn-wrapper button {
  color: white;
  background-color: #565ea7;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.list-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 10px;
  height: 370px;
}
.list-wrapper ol li {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.list-wrapper ol li img {
  width: 50px;
}
.list-wrapper ol {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.list-wrapper ol::-webkit-scrollbar {
  display: none;
}
.list-wrapper ol {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.create-wrapper {
  gap: 30px;
  align-items: flex-start;
}
.link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.link-wrapper span {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.link-wrapper input {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
}
.file-input {
  color: transparent;
}
.error-wrapper {
  color: red;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.image-wrapper {
  width: 50%;
  height: 120px;
  overflow: hidden;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.entry-settings {
  display: flex;
  gap: 15px;
}
.entry-settings span {
  cursor: pointer;
}
